<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503208004587-fuve2q3bn05gsev4bdnilq74355v6pvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503208004587-fuve2q3bn05gsev4bdnilq74355v6pvl</string>
	<key>API_KEY</key>
	<string>AIzaSyDvJlQBRswpi-MY9p02iTvJ-SC29zbQxr4</string>
	<key>GCM_SENDER_ID</key>
	<string>503208004587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gharjam</string>
	<key>PROJECT_ID</key>
	<string>ghar-jam</string>
	<key>STORAGE_BUCKET</key>
	<string>ghar-jam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503208004587:ios:3b097b61a04f594e0b27ae</string>
</dict>
</plist>